:root {
  --color-primary:rgba(117, 117, 117, 1);
  --color-brand: rgba(33, 33, 33, 1);
  --color-accent: rgba(255, 255, 255, 1);
  --color-inverted:rgba(33, 150, 243, 1);
  --color-background:rgba(47, 48, 58, 1);
 }

body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
}

ul li {
    list-style-type: none;
}

.logo {
    color: var(--color-inverted);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.192;
    font-weight: 700;
    font-style: bold;
    text-decoration: none;
}

.logo-black {
    color: var(--color-brand);
}

.logo-white {
    color: var(--color-accent);
}

.link {
    color: var(--color-brand);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428;
    text-decoration: none;
}


.link:hover, .link:focus {
    color: var(--color-inverted);
    cursor: pointer;
 }


.header-link-contact {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428;
    text-decoration: none;
}

.header-link-contact:hover, .header-link-contact:focus {
    color: var(--color-inverted);
    cursor: pointer;
}

 
.current {
    color: var(--color-inverted);
}

.hero-section {
    background-color: var(--color-background)
}

.hero-title {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.3636;
    font-weight: 900;
}


/* Button */
.hero-section-button {
    background-color: var(--color-inverted);
    color: var(--color-accent);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    border: 0px;
}

.hero-section-button:hover, .hero-section-button:focus {
    cursor: pointer;
    background-color: #2196F3;
}



.features-section h2 {
    color: var(--color-brand);
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.1741;
    font-weight: 700;
    font-style: bold;
}

.features-section h3 {
    color: var(--color-brand);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.1721;
    font-weight: 700;
    font-style: bold;
}

.section-work h2 {
    color: var(--color-brand);
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.1741;
    font-weight: 700;
    font-style: bold;
}

.persons-section h2 {
    color: var(--color-brand);
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.1741;
    font-weight: 700;
    font-style: bold;
}


.persons-section h3 {
    color: var(--color-brand);
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 500;
    font-style: medium;
}

.footer {
    background-color: var(--color-background);
    cursor: pointer;
}

.footer-link-address {
    color: var(--color-accent);
    font-size: 14px;
    line-height: 1.1741;
    font-weight: 400;
    text-decoration: none;
}
.footer-link-address:hover, .footer-link-address:focus {
    background-color: var(--color-background);
    color: var(--color-inverted);
    cursor: pointer;
}


.footer-link-contact {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142;
    text-decoration: none;
}
.footer-link-contact:hover,
.footer-link-contact:focus {
    background-color: var(--color-background);
    color: var(--color-inverted);
    cursor: pointer;
}

/* h1 portfolio */


/* 2nd page style */
.portfolio-section h3 {
    color: var(--color-brand);
    font-size: 18px;
    line-height: 2.0;
    font-weight: 700;
    font-style: bold;
    text-decoration: none;
}

.button-portfolio:hover, .button-portfolio:focus {
    color: var(--color-accent);
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
    background-color: var(--color-inverted);
    cursor: pointer;
}

.btn-current {
    color: var(--color-accent);
    background-color: var(--color-inverted);
}

